In [ ]:
# Variáveis
variavel1 = 1 #variável inteira
variavel2 = 1.2 #variável float
variavel3 = "Eu sou uma string" #variável string, que são sempre declaradas entre aspas ""
variavel4 = True #verdadeiro variável booleana
variavel5 = False #falso variável booleana

In [ ]:
#Operadores matemáticos *, +,-,/,**,%,//
print(5 + 7)
print(5 - 7)
print(5 / 7)
print(5 * 7)
print(5 ** 7)
print(5 // 7)
print(5 % 7)

In [ ]:
# Operadores relacionais ==, <=, >=, >, <, !=
x = 2
y = 3

x = y
print (x == y)

In [ ]:
x = 2
y = 3

print (x > y)

In [ ]:
x = 2
y = 3

soma = x + y
print (x == y)

In [ ]:
#Operadores lógicos AND, OR ou NOT
x = 3
y = 3
z = 3
print (x == y and x == z)

In [ ]:
x = 3
y = 3
z = 1
print (x == y and x == z)

In [ ]:
x = 3
y = 3
z = 1
print (x == y or x == z)

In [ ]:
# Comando condicional if, else, elif
x = 1
y = 10

if x < y:
  print("x é maior que y")
if x < y:
  print("y é maior que x")

In [ ]:
x = 1
y = 10

if x > y:
  print("x é maior que y")
else:
  print("x não é maior que y")

In [ ]:
x = 1
y = 2

if x == y:
  print("Números iguais")
elif y > x: 
  print("y é maior que x")  # executa a primeira opção verdadeira que encontrar
else:
  print("Números diferentes")

In [ ]:
# Laços de repetição while, do, for e range

x = 1

while x < 10:
  print(x)
  x += 1            # x = x + 1

In [ ]:
lista = [1,2,3,4,5] # for para varrer um conjunto de elementos pré-determinados
lista2 = ["ola","mundo","!"]
lista3 = [0,"olá","biscoito","bolacha",9.99,True]

for i in lista3:
  print(i)

In [ ]:
for i in range(10,20,2): # for + range = criar lista. 10 = início, 20 = fim - 1, 2 = de dois em dois;
  print(i)

In [ ]:
# len para mostrar o tamanho das variáveis
a = "Nathan"
b = "Dantas"
concatenar = a + " " + b
print(concatenar)

tamanho = len(concatenar)
print(tamanho) # espaço também conta no tamanho dos caracteres

In [ ]:
a = "Nathan"
b = "Dantas"
concatenar = a + " " + b

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5]) # valor fora da string dará erro

N
a
t
h
a
n

In [ ]:
a = "Nathan"
b = "Dantas"
concatenar = a + " " + b

print(concatenar[0:6]) # impressão de 6 valores, do 0 ao 5;
print(concatenar[0:]) # impressão até o final

Natha
Nathan Dantas

In [ ]:
# método aplicado as strings

a = "Nathan"
b = "Dantas"
concatenar = a + " " + b

print(concatenar)
print(concatenar.lower()) # tudo minúsculo
print(concatenar.upper()) # tudo maíusculo

Nathan Dantas
nathan dantas
NATHAN DANTAS

In [ ]:
a = "Nathan"
b = "Dantas"
concatenar = a + " " + b

print(concatenar)
concatenar = concatenar.upper() # recebendo valor//alterando variável "concatenar"
print(concatenar)

In [ ]:
# função strip remove tanto espaços como caracteres especiais da nossa string
a = "Nathan"
b = "Dantas"
concatenar = a + " " + b + "\n"

print(concatenar.strip()) # removeu a quebra de linha \n

Nathan Dantas

In [ ]:
# função split converte a minha sequência em uma lista
minha_string = "O rato roeu a roupa do rei de Roma"

minha_lista = minha_string.split(" ")
print(minha_lista) # separar as palavras pelo espaço/ tirou os espaços

['O', 'rato', 'roeu', 'a', 'roupa', 'do', 'rei', 'de', 'Roma']

In [ ]:
# método find para realizar uma busca na string
minha_string = "O rato roeu a roupa do rei de Roma"

busca = minha_string.find("rei")
print(busca) # buscou a posição da palavra "rei", ou a letra "r"
print(minha_string[busca:]) # buscar na string e imprimir o que vem após a palavra "rei"
busca = minha_string.find("rainha")
print(busca) # se não encontrou a substring, ele retorna -1

In [ ]:
# método replace substitui partes de uma string
minha_string = "O rato roeu a roupa do rei de Roma"
minha_string = minha_string.replace("o rei","a rainha") #primeiro termo será substituído pelo segundo // #substituído/substituto

print(minha_string) #substituiu a letra "o" de "do" e adicionou a letra "a". Substiutiu também a palvra "rei" por "rainha"

In [ ]:
# funções em Python são definidas pela palavra "def"

def soma(x,y):
  return x + y # variável x e y não existem globalmente, só existem dentro da função, são escopos locais
def multiplicacao(x,y):
  return x * y

s= soma(2,2) # chamada para a função
m = multiplicacao(3,7) # chamada para a função
print(s)
print(m)
print(soma(s,m)) # somar as duas funções
print(multiplicacao(s,m)) # multiplicar as duas funções

4
21
25
84

In [ ]:
# abrir arquivos com a função "open"/ variavel = open(nome do arquivo,modo)
# tipos de modos: 
# r = somente leitura, w = escrita (caso o arquivo já exista, ele será apagado e um novo arquivo vazio será criado)
# a = leitura e escrita(add um novo conteúdo ao fim do arquivo), r+ = leitura e escrita, w+ = escrita(também apaga o conteúdo anterior do arquivo)
# a+ = leitura e escrita(abre o arquivo para atualização)

In [ ]:
arquivo = open("arquivo2.txt")
linhas = arquivo.readlines() # lê um arquivo e armazena em uma lista

print(linhas)

In [ ]:
arquivo = open("arquivo2.txt")
linhas = arquivo.readlines() 

for linha in linhas: # cada linha em uma linha
  print(linha)

In [ ]:
arquivo = open("arquivo2.txt")
linhas = arquivo.readline() # lê uma linha do arquivo

print(linhas)

In [ ]:
arquivo = open("arquivo2.txt")
texto_completo= arquivo.read() # lê o texto completo do arquivo

print(texto_completo)

In [ ]:
w = open("arquivo2.txt","a")

w.write("Esse é o meu arquivo \n") # comando w cria e w.write escreve no documento
w.close()

In [ ]:
# declaração de lista entre conchetes e separados por ","
minha_lista = ["abacaxi","melancia","abacate"] #string
minha_lista2 = [1,2,3,4,5] #números
minha_lista3 = ["abacaxi", 2, 9.89, True] #misto

print(minha_lista) #imprimir a lista
print(minha_lista[0]) # imprimir posição da lista

for item in minha_lista3:
  print(item)

In [ ]:
# tamanho da lista
minha_lista3 = ["abacaxi", 2, 9.89, True] #misto
tamanho = len(minha_lista3)

print(tamanho) # imprimir a quantidade de itens nessa lista

In [ ]:
# adicionando elementos na minha lista
minha_lista = ["abacaxi", 2, 9.89, True] 

print(minha_lista)

minha_lista.append("limão") # método para adicionar coisas na lista

print(minha_lista)

In [ ]:
# para saber se tem algo na lista
minha_lista = ["abacaxi", 2, 9.89, True] 

print(minha_lista)

if 2 in minha_lista: # para saber se tem algo na lista
  print("2 está na lista")

In [ ]:
# remover algo da lista

minha_lista = ["abacaxi", 2, 9.89, True] 

print(minha_lista)

del minha_lista[2:] #comando para excluir do índice 2(9.89) em diante da lista
print(minha_lista)

In [ ]:
# deletar toda a lista

minha_lista = ["abacaxi", 2, 9.89, True] 

print(minha_lista)

del minha_lista[:] # remove tudo que está na lista

print(minha_lista)

In [ ]:
# criar uma lista em branco e preencher aos poucos
minha_lista4 = [] 

print(minha_lista4)

minha_lista4.append(57)
print(minha_lista4)

In [ ]:
# Ordenar listas

lista = [124,345,72,46,6,7,8,0,1,3,2]

lista.sort() # altera uma lista já existente

print(lista)

lista = sorted(lista) # retorna uma lista ordenada

print(lista)

In [ ]:
# Ordenar listas

lista = [124,345,72,46,6,7,8,0,1,3,2]

lista.sort(reverse=True) # lista ordenada de forma decrescente 

print(lista)

In [ ]:
# Ordenar listas

lista = [124,345,72,46,6,7,8,0,1,3,2]

lista.reverse() # reverter a lista
print(lista)

In [ ]:
# Ordenar listas

lista = ["Abacaxi","Carro","Bola","Zebra","Lugar"]

lista.sort() # ordenar a lista de forma alfabética
print(lista)

In [ ]:
# dicionários em python: dicionários são arrays associativos/ lista de associações, ou seja, um determinado valor passa a ser vinculado a uma chave

meu_dicionario = {"A": "nathandantas.com"} # declarado entre chaves

# No dicionário acima, a chave "Nathan" foi vinculado ao valor "nathandantas.com". Assim, para imprimir o valor chame:

print(meu_dicionario['A'])

In [ ]:
# Se o dicionário tiver vários elementos, você pode usar laços para imprimi-los:
dicionario_sites = {"B": "nathandantas.com", "Google": "google.com", "Udemy": "udemy.com"}
 
for chave in dicionario_sites:
    print(dicionario_sites[chave])

In [ ]:
# função items: converte o dicionário em uma tupla(conjunto de dados imutáveis)

dicionario = {"A":"Amora","L":"Limão","N":"Nathan"}

for chave in dicionario.items():
  print(chave)

In [ ]:
# função values: retorna somente os valores

dicionario = {"A":"Amora","L":"Limão","N":"Nathan"}

for chave in dicionario.values():
  print(chave)

In [ ]:
# função keys: retorna somente as chaves

dicionario = {"A":"Amora","L":"Limão","N":"Nathan"}

for chave in dicionario.keys():
  print(chave)

In [ ]:
# escolha de números aleatórios em python
import random
# random.seed(1) ----> para sempre dar o mesmo número
numero = random.randint(0,10) # escolher um número de 0 a 10 
print(numero)

In [ ]:
# escolha de números aleatórios em python
import random
lista = [6,45,9]
numero = random.choice(lista) # escolher um número da lista aleatoriamente
print(numero)

In [ ]:
# tratamento de exceções: caso ocorra um erro na execução do programa, a exceção permite a continuação da excecução

a = 2
b = 0

try:
  print(a/b)
except:
  print("Não é permitida divisão por 0")

print(a/a)

In [ ]:
# list comprehension

x = [1, 2, 3, 4, 5]
y = []

for i in x:
  y.append(i**2) # método simples

print(x)
print(y)

In [ ]:
# list comprehension y =[valor_a_adicionar  laço  condição]
x = [1, 2, 3, 4, 5]
y = [i**2 for i in x]

print("Usando list comprehension")
print(x)
print(y)

In [ ]:
# list comprehension y =[valor_a_adicionar  laço  condição]
x = [1, 2, 3, 4, 5]
y = [i**2 for i in x]
z = [i for i in x if i%2==1]

print("Usando list comprehension")
print(x)
print(y)
print(z)

Usando list comprehension
[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 3, 5]

In [ ]:
# função enumerate

In [ ]:
area_do_terreno = 10 * 10

In [ ]:
area_do_terreno

In [ ]:
type("Nathan")

In [ ]:
nome = "Nathan"
sobrenome = "Dantas"
profissao = "Developer"

In [ ]:
print("Nome Completo:", nome, sobrenome,"e Minha profissão é:", profissao)

print("Minha profissão é:", profissao)

In [ ]:
nomes = "fernando,nathan,jose"
nomes.split(',')

In [ ]:
nome[0:6]

In [ ]:
len(nome)

In [ ]:
preco="R$ 9,50"
preco.strip('R$ ').replace(',','.')
type